body {
	font-family: 'Arial', sans-serif;
}
.game__wrapper	{
	display: block;
	width: 960px;
	margin: 0 auto;
}
.game__description dl > dd {
	display: inline-block;
	margin: 0 10px 0 0;
    margin-bottom: 5px;
}
.game__description dl > dt {
	display: inline-block;
    border: 1px solid #aaffb6;
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(182, 97, 97, 0.986);
    margin-bottom: 5px;
}
